@font-face {
	font-style: normal;
	font-family: "Karrik";
	src:
		url("/assets/fonts/karrik/karrik_fonts-main/fonts/Web/WOFF2/Karrik-Regular.woff2") format("WOFF2"),
		url("/assets/fonts/karrik/karrik_fonts-main/fonts/Web/WOFF/Karrik-Regular.woff") format("WOFF");
}

:root {
	--bg-0: #fff;
	--bg-1: #000;
	--fg-0: #fff;
	--accent: #A670E0;
	--ease-out-expo: cubic-bezier(0.19, 1.00, 0.22, 1.00);
	--material: cubic-bezier(0.40, 0.00, 0.20, 1.00);
	font-family: "Karrik";
	font-size: 16px;
}

html {
	position: relative;
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: auto;
	padding: 0;
	background-color: var(--bg-0);
	color: var(--fg-0);
	max-width: 724px;
}

.footer {
	a {
		font-size: 16px;
	}

	position: fixed;
	bottom: 0;
	right: 0;
	background-color: var(--bg-1);
	padding: 12px;
	border-top-left-radius: 12px;
}

.links {
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 12px;
	background-color: var(--accent);
	padding: 32px;
	justify-content: space-between;
}

a {
	display: inline-block;
	font-size: 32px;
	text-decoration: none;
	text-align: center;
	color: var(--fg-0);

	transition: scale 0.4s var(--material),
		flex 0.3s var(--material),
		transform 0.3s var(--material),
		color 0.1s var(--material);

	&:active {}

	&:hover {
		transform: scaleY(1.8);
	}

}

.header {
	display: flex;
	height: 60px;
}

h1 {
	padding: 12px 12px 12px 12px;
	width: 160px;
	margin: 0;
	font-weight: normal;
	flex: none;
	max-width: 100%;
	background-color: var(--bg-1);
	color: var(--fg-0);

}

.header::after {
	content: "";
	background: repeating-conic-gradient(transparent 0 25%, var(--bg-1) 0 50%);
	display: block;
	width: 100%;
	background-size: 40px 40px;
	transition: background-size 2.4s cubic-bezier(0.85, 0, 0.15, 1);
}

.about.header::after {
	content: "";
	background: repeating-conic-gradient(var(--bg-0) 0 25%, var(--bg-1) 0 50%);
	display: block;
	width: 100%;
	background-size: 40px 40px;
	transition: background-size 2.4s cubic-bezier(0.85, 0, 0.15, 1);
}

.header:hover::after {
	background-size: 40px 120px;
}

.about {
	h1 {
		text-align: right;
		width: 140px;
	}

	flex-direction: row-reverse;
	background-color: var(--bg-1);
	margin: 0;

	p {
		margin: 0;
		padding: 12px;
	}
}

.accent {
	display: inline-block;
	font-style: italic;
	transform: scaleY(1);
	transition: 0.2s var(--material);

	&:hover {
		font-style: normal;
		transform: scaleY(1.8) rotate(-2deg);
	}
}
